{% extends 'template.html' %}
{% load url from future %}

{% block active_front %}class="active"{% endblock %}

{% block content %}

{% include "find_by_uri.html" %}
<h1>NewsDiffs |  Tracking Online News (Corrections)</h1>

<p>NewsDiffs <a href="/browse">archives changes</a> in  
articles after publication.</p>

<h2>This is a non-official version, modified with heuristics classifying the severity of changes.</h2>
<p>The official version can be found at <a href="http://newsdiffs.org">newsdiffs.org</a>.</p>

<p> Currently, we track
{% for source in sources|slice:":-1" %}
<a href="{% url 'browse' source %}">{{source}}</a>,
{% endfor %}
and
<a href="{% url 'browse' sources|last %}">{{sources|last}}</a>.</p> 

<p>You can <a href="/browse/">browse</a> our repository of articles.</p>
<p>If you are a developer, you can check out <a href="https://github.com/fin/newsdiff-corrections">this version's repository</a> or <a href="https://github.com/ecprice/newsdiffs">the newsdiffs.org repository</a> on github.</p>
{% endblock %}
